<div class="max-w-md mx-auto">
  <h1 class="text-2xl font-bold mb-4">Create New Patient</h1>

  <%= form_with(model: @user, url: create_patient_path, local: true) do |form| %>
  <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-4">
      <%= form.label :name %>
      <%= form.text_field :name, class: "border rounded px-3 py-2 w-full" %>
    </div>
    
    <div class="mb-4">
      <%= form.label :email %>
      <%= form.email_field :email, class: "border rounded px-3 py-2 w-full" %>
    </div>
    
    <div class="mb-4">
      <%= form.label :age %>
      <%= form.number_field :age, class: "border rounded px-3 py-2 w-full" %>
    </div>
    
    <div class="mb-4">
      <%= form.label :password %>
      <%= form.password_field :password, class: "border rounded px-3 py-2 w-full" %>
    </div>

    <div class="mb-4">
      <%= form.submit "Create Patient", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
    </div>
  <% end %>
</div>
