<div id="<%= dom_id appointment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= appointment.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= appointment.time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Patient:</strong>
    <%= appointment.patient.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Doctor:</strong>
    <%= appointment.doctor.name %>
  </p>

</div>
