<div class="max-w-7xl mx-auto">
  <h1 class="font-bold text-2xl">Edit User</h1>
  <%= form_with(model: [:admin ,@user], local: true) do |form| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mt-4">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'border p-2 w-full' %>
    </div>

    <div class="mt-4">
      <%= form.label :email %>
      <%= form.email_field :email, class: 'border p-2 w-full' %>
    </div>

    <div class="mt-4">
      <%= form.label :age %>
      <%= form.number_field :age, class: 'border p-2 w-full' %>
    </div>

    <div class="mt-4">
      <%= form.label :role %>
      <%= form.select :role, User.roles.keys.map { |role| [role.humanize, role] }, { prompt: 'Select Role' }, class: 'border p-2 w-full' %>
    </div>

    <div class="mt-4">
      <%= form.submit 'Update User', class: 'bg-blue-500 text-white px-4 py-2 rounded' %>
    </div>
  <% end %>
</div>
