<div class="max-w-7xl text-center mx-auto">
  <h1 class="font-bold text-2xl">User List</h1>
  <table class="min-w-full border border-gray-300 mt-5">
    <thead>
      <tr>
        <th class="border-b px-4 py-2">Name</th>
        <th class="border-b px-4 py-2">Email</th>
        <th class="border-b px-4 py-2">Age</th>
        <th class="border-b px-4 py-2">Role</th>
        <th class="border-b px-4 py-2">Actions</th> <!-- New Actions Column -->
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="border-b px-4 py-2 text-center"><%= user.name %></td>
          <td class="border-b px-4 py-2 text-center"><%= user.email %></td>
          <td class="border-b px-4 py-2 text-center"><%= user.age %></td>
          <td class="border-b px-4 py-2 text-center"><%= user.role.humanize %></td>
          <td class="border-b px-4 py-2 text-center"> <!-- Actions Column -->
          <%= link_to 'Manage', edit_admin_user_path(user), class: 'bg-blue-500 text-white px-3 py-1 rounded' %>
  
  <!-- Delete button leading to the destroy action -->
      <%= link_to admin_user_path(user), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "bg-red-500 text-white px-3 py-1 rounded ml-2" do %>
               Delete
              <% end %>    
          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @users.empty? %>
    <p class="mt-5 text-gray-500">No users found.</p>
  <% end %>

  <div class="mt-5">
    <%= paginate @users %> <!-- This will generate the pagination links -->
  </div>
</div>
